body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #eaeaea;
    margin:50px;
}
.main {
    background-color: #FFF;
    width: 1000px;
    margin:0 auto;
    padding:20px;
}
.title {
    color: #000;
    text-align:center;
    font-size:18px;
    font-weight:bold;

}

.text{

    padding-left:50px;
    padding-right:50px;
}

.form{
    padding-left:50px;
    text-align: center;
    padding: 5px;
}

.table{
    width:900px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding:1px;

}

.footer{
    color:#cccccc;
    height: 50px;
    text-align: center;
    margin:50px;
    clear: both;
}

.content{
    height: 300px;
}

#cell{
    width: 50px; /* Ширина ячейки матрицы */
} 

p{
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
}

table {
    margin: 0 auto;
}

td {
    text-align: center;
}

ul.css_menu {
list-style: none;
border-bottom: 1px #888899 solid;
padding-bottom: 10px
}

ul.menu li {
display: inline;
margin-right: 5px
}

ul.menu li a {
color: #888899;
text-decoration: none;
background: #f7f7f9;
border: 1px #bbbbcc solid;
border-bottom: none;
padding: 10px 14px
}

ul.menu li a:hover {
padding: 14px 14px 10px 14px
}

ul.menu li a.selected {
color: #555566;
background: #ffffff;
border: 1px #888899 solid;
border-bottom: 1px #ffffff solid;
padding: 14px 14px 10px 14px
}
